<!-- ultimo-entreno.component.html -->
<!-- <h2>Último Entreno</h2> -->

<!-- Usamos el componente DiaEntrenamientoCard con comparacion -->
<app-dia-entrenamiento-card *ngIf="ultimoEntrenamiento" [diaEntrenamiento]="ultimoEntrenamiento"
  [expandido]="expandido" [obtenerNombreEjercicio]="obtenerNombreEjercicio.bind(this)"
  (toggleExpand)="toggleEntrenamiento()" [index]="0"></app-dia-entrenamiento-card>

<!-- Card cuando no hay entrenamientos previos -->
<ion-card *ngIf="!ultimoEntrenamiento" class="no-entrenamiento-card">
  <ion-card-header>
    <ion-card-title>Parece que todavía no has entrenado</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Registra un entrenamiento para verlo aquí.
  </ion-card-content>
</ion-card>

