<h2>Último Entreno</h2>

<!-- Comprobamos si hay datos de entrenamiento -->
<ng-container *ngIf="ultimoEntrenamientoComparado; else noEntreno">
  <app-dia-entrenamiento-card [entrenamientoActual]="ultimoEntrenamientoComparado"
    [comparacion]="ultimoEntrenamientoComparado" [expandido]="true" [index]="0">
  </app-dia-entrenamiento-card>
</ng-container>

<ng-template #noEntreno>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="no-entrenamiento">Parece que todavía no has entrenado</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Registra un entrenamiento para verlo aquí.
    </ion-card-content>
  </ion-card>
</ng-template>