<ion-content>
  <h2>Último Entreno</h2>

  <!-- Usamos el componente DiaEntrenamientoCard con comparacion -->
  <app-dia-entrenamiento-card *ngIf="ultimoEntrenamiento" [entrenamientoActual]="ultimoEntrenamiento"
    [comparacion]="comparacion" [expandido]="expandido" (toggleExpand)="toggleEntrenamiento()"
    [index]="0"></app-dia-entrenamiento-card>

  <ion-card *ngIf="!ultimoEntrenamiento">
    <ion-card-header>
      <ion-card-title class="no-entrenamiento">Parece que todavia no has entrenado</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Registra un entrenamiento para verlo aquí.
    </ion-card-content>
  </ion-card>
</ion-content>