<div class="botones-container">
  <!-- Botón para Importar Rutina -->
  <ion-button expand="block" size="large" class="boton-importar" (click)="onClickImportarRutina()">
    <ion-icon name="arrow-down-circle-outline"></ion-icon>
    <span>Importar Rutina</span>
  </ion-button>

  <!-- Botón para Exportar Rutina -->
  <ion-button expand="block" size="large" class="boton-exportar" (click)="onClickExportarRutina()">
    <ion-icon name="arrow-up-circle-outline"></ion-icon>
    <span>Exportar Rutina</span>
  </ion-button>
  <ion-alert></ion-alert>
</div>