<!-- dia-entrenamiento-card.component.html -->
<ion-card>
  <ion-card-header (click)="onToggleExpand()">
    <ion-card-title>
      {{ diaEntrenamiento.fechaEntrenamiento | date: 'dd/MM/yyyy, HH:mm' }}
      <ng-container *ngIf="diaEntrenamiento.tiempoEmpleado">
        ({{ diaEntrenamiento.tiempoEmpleado }} min)
      </ng-container>
    </ion-card-title>
    <ion-card-subtitle>{{ diaEntrenamiento.nombreRutinaEntrenamiento }} -> {{ diaEntrenamiento.diaRutinaId }} - {{
      diaEntrenamiento.descripcion }}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content *ngIf="expandido">
    <!-- Botones para Editar y Eliminar Día juntos con estilo similar -->
    <div style="display: flex; gap: 10px; justify-content: center; margin-bottom: 10px;">
      <ion-button *ngIf="editable" fill="clear" size="small" color="danger" (click)="confirmarEliminarDia()">
        Eliminar Día
      </ion-button>
      <ion-button *ngIf="editable" fill="clear" size="small" color="secondary" (click)="abrirModalEditarDiaCompleto()">
        Editar Día Completo
      </ion-button>
    </div>

    <!-- Notas del Día -->
    <p *ngIf="diaEntrenamiento.notas"><strong>Notas del día:</strong> {{ diaEntrenamiento.notas }}</p>

    <!-- Lista de Ejercicios -->
    <ion-list>
      <ion-item *ngFor="let ejercicio of diaEntrenamiento.ejerciciosRealizados; let j = index">
        <ion-label>
          <h2>{{ ejercicio.nombreEjercicioRealizado }}</h2>

          <!-- Progreso de series completadas -->
          <p class="progress-indicator">
            <strong>Series completadas:</strong> {{ ejercicio.seriesCompletadas || 0 }} / {{ ejercicio.seriesTotal }}
          </p>

          <!-- Mostrar estado del ejercicio -->
          <p *ngIf="ejercicio.notas">
            <strong>Nota del ejercicio:</strong> {{ ejercicio.notas }}
          </p>

          <!-- Mostrar series -->
          <ng-container *ngFor="let serie of ejercicio.series; let k = index">
            <p>
              S{{ serie.numeroSerie }} -> reps: {{ serie.repeticiones }}
              <span *ngIf="serie.repeticionesAnterior">({{ serie.repeticionesAnterior }})</span>
              peso: {{ serie.peso }} kg
              <span *ngIf="serie.pesoAnterior">({{ serie.pesoAnterior }} kg)</span>
              <small *ngIf="getSerieDetails(serie) || serie.notas">
                - {{ getSerieDetails(serie) }}
                <span *ngIf="serie.notas">, <i>{{ serie.notas }}</i></span>
              </small>
            </p>
          </ng-container>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>