<ion-card>
  <ion-card-header (click)="onToggleExpand()">
    <ion-card-title>{{ diaEntrenamiento.fechaEntrenamiento | date: 'dd/MM/yyyy, HH:mm' }}</ion-card-title>
    <ion-card-subtitle>{{ diaEntrenamiento.diaRutinaId }} - {{ diaEntrenamiento.descripcion }}</ion-card-subtitle>
  </ion-card-header>

  <!-- Contenido desplegable -->
  <ion-card-content *ngIf="expandido">
    <!-- Botón para eliminar el día entero, solo si editable es true -->
    <ion-button *ngIf="editable" fill="clear" size="small" color="danger" expand="full"
      (click)="confirmarEliminarDia()">
      Eliminar Día
    </ion-button>

    <p *ngIf="diaEntrenamiento.notas"><strong>Notas del día:</strong> {{ diaEntrenamiento.notas }}</p>

    <!-- Lista de Ejercicios -->
    <ion-list>
      <ion-item *ngFor="let ejercicio of diaEntrenamiento.ejerciciosRealizados; let j = index">
        <ion-label>
          <!-- Título del ejercicio con icono de editar, solo si editable es true -->
          <h2>
            {{ ejercicio.nombreEjercicioRealizado }}
            <ion-icon *ngIf="editable" name="create-outline" color="primary" class="edit-icon"></ion-icon>
          </h2>

          <!-- Notas del ejercicio si existen -->
          <p *ngIf="ejercicio.notas"><strong>Notas del ejercicio:</strong> <i>{{ ejercicio.notas }}</i></p>

          <!-- Series del ejercicio -->
          <ng-container *ngFor="let serie of ejercicio.series; let k = index">
            <p>
              S{{ serie.numeroSerie }}: {{ serie.repeticiones }} reps {{ serie.peso ? ('- ' + serie.peso + ' kg') : ''
              }}
              <span *ngIf="serie.pesoAnterior || serie.repeticionesAnterior">
                (<i>{{ serie.pesoAnterior ? serie.pesoAnterior + ' kg' : '' }} {{ serie.repeticionesAnterior ? ', ' +
                  serie.repeticionesAnterior + ' reps' : '' }}</i>)
              </span>
              <small *ngIf="getSerieDetails(serie) || serie.notas">
                - {{ getSerieDetails(serie) }}
                <span *ngIf="serie.notas">, <i>{{ serie.notas }}</i></span>
              </small>
            </p>
          </ng-container>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>