<!-- gestion-usuarios.compoennte.html -->
<ion-list *ngIf="usuarios.length > 0">
  <ion-list-header>
    <ion-label>Usuarios Guardados</ion-label>
  </ion-list-header>

  <ion-item *ngFor="let usuario of usuarios" (click)="elegirUsuarioDeLista(usuario)">
    <ion-avatar>
      <img [src]="usuario.imagenPerfil" />
    </ion-avatar>
    <ion-card class="usuario-card">
      <ion-card-header>
        <ion-card-title>{{ usuario.nombre }}</ion-card-title>
        <ion-card-subtitle>{{ usuario.email }}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ion-item>
</ion-list>

<!-- Mensaje si no hay usuarios -->
<ion-label *ngIf="usuarios.length === 0">No hay usuarios guardados.</ion-label>