<div class="usuarios-grid">
  <!-- Tarjetas para los usuarios existentes -->
  <div *ngFor="let usuario of usuarios" class="usuario-card" (click)="elegirUsuarioDeLista(usuario)">
    <ion-avatar class="avatar">
      <img [src]="usuario.imagenPerfil" alt="Imagen del usuario" />
    </ion-avatar>
    <h3 class="nombre">{{ usuario.nombre }}</h3>
    <p class="email">{{ usuario.email }}</p>
  </div>

  <!-- Tarjeta para añadir un nuevo usuario usando una imagen personalizada -->
  <div class="usuario-card nuevo-usuario" (click)="irCrearUsuario()">
    <ion-avatar class="avatar">
      <img src="assets/imagenes/menus/principal/add.png" alt="Añadir usuario" />
    </ion-avatar>
    <p>Crear Nuevo</p>
  </div>
</div>