.usuario-card {
    margin: 10px; // Espaciado entre las tarjetas
    flex: 1; // Asegura que las tarjetas crezcan uniformemente
}

ion-card {
    --min-height: 120px; // Altura mínima para todas las tarjetas
    display: flex; // Permite que el contenido dentro del ion-card se alinee
    flex-direction: column; // Alinea el contenido en columnas
    justify-content: space-between; // Espaciado entre los elementos
}