<app-toolbar-logged [titulo]="'Mis Rutinas'"></app-toolbar-logged>

<ion-content class="ion-padding">
  <h2>Mis Rutinas:</h2>

  <!-- Si no existen rutinas, mostrar un mensaje -->
  <div *ngIf="rutinas.length === 0" class="no-rutinas-container">
    <h3>No existen rutinas.</h3>
    <ion-button expand="block" color="primary" (click)="abrirFormularioDia()">Crear nueva rutina</ion-button>
  </div>

  <!-- Mostrar la lista de rutinas si existen -->
  <ion-list *ngIf="rutinas.length > 0">
    <ng-container *ngFor="let rutina of rutinas">
      <ion-card class="rutina-card">
        <ion-card-header (click)="toggleExpandirRutina(rutina)">
          <div class="header-rutina">
            <ion-card-title>{{ rutina.nombre }}</ion-card-title>
            <div class="iconos-header">
              <ion-icon name="pencil-outline" (click)="editarRutina(rutina, $event)"
                class="icono-cambiar-nombre"></ion-icon>
              <ion-alert></ion-alert>
              <ion-icon name="close-outline" (click)="eliminarRutina(rutina, $event)"
                class="icono-eliminar-rutina"></ion-icon>
            </div>
          </div>
          
          <ion-card-subtitle>{{ rutina.dias.length }} días en esta rutina</ion-card-subtitle>
          <!-- Mostrar la descripción si existe -->
          <ion-card-subtitle *ngIf="rutina.descripcion">{{ rutina.descripcion }}</ion-card-subtitle>
          <ion-card-subtitle *ngIf="!rutina.descripcion">Sin descripción</ion-card-subtitle>


        </ion-card-header>

        <!-- Mostrar el contenido de la rutina de manera compacta -->
        <ion-card-content *ngIf="rutinaExpandida === rutina._id">
          <div class="dias-container">
            <ng-container *ngFor="let dia of rutina.dias">
              <div class="dia-container">
                <h3>{{ dia.diaNombre }} - {{dia.descripcion}}</h3> <!-- Nombre del Día -->
                <ion-button (click)="editarDiaRutina(rutina, dia)">Editar Día</ion-button>
                <!-- Lista compacta de ejercicios del día -->
                <ul>
                  <li *ngFor="let ejercicioPlan of dia.ejercicios">
                    {{ ejercicioPlan.nombreEjercicio }} - {{ ejercicioPlan.series }}x{{
                    ejercicioPlan.repeticiones }}
                  </li>
                </ul>
              </div>
            </ng-container>

            <!-- Mostrar el botón para añadir otro día si no hay días -->
            <div *ngIf="rutina.dias.length === 0" class="anadir-dia-container">
              <ion-button fill="outline" color="success" (click)="abrirFormularioDia(rutina)">
                <ion-icon name="add-circle-outline"></ion-icon> Añadir Día
              </ion-button>
            </div>

            <!-- Opción para añadir otro día si ya hay días existentes -->
            <div *ngIf="rutina.dias.length > 0" class="anadir-dia-container">
              <ion-button fill="outline" color="success" (click)="abrirFormularioDia(rutina)">
                <ion-icon name="add-circle-outline"></ion-icon> Añadir otro Día
              </ion-button>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ng-container>
  </ion-list>

  <!-- Botón grande para crear una nueva rutina al final -->
  <ion-button expand="block" size="large" color="success" class="boton-crear-nueva" (click)="crearNuevaRutina()">
    <ion-icon name="add-circle-outline"></ion-icon> Añadir Nueva Rutina
  </ion-button>
  <ion-modal></ion-modal> <!-- ESTO ES PARA QUE VAYA EL MODAL EN PRODUCCION -->
</ion-content>