<app-toolbar-logged [titulo]="'Mis Rutinas'"></app-toolbar-logged>

<ion-content>
  <!-- Mensaje de "sin rutinas" -->
  <ion-card *ngIf="rutinas.length === 0" class="no-rutina-card">
    <ion-card-header>
      <ion-card-title>No tienes rutinas creadas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Crea una nueva rutina para comenzar a organizar tus entrenamientos.
    </ion-card-content>
  </ion-card>

  <!-- Mostrar lista de rutinas si existen -->
  <ion-list *ngIf="rutinas.length > 0">
    <ng-container *ngFor="let rutina of rutinas">
      <ion-card class="rutina-card">
        <!-- Encabezado de la rutina diferenciado con color y menos espacio -->
        <div class="header-rutina" (click)="toggleExpandirRutina(rutina)">
          <div class="header-content">
            <ion-card-title class="rutina-nombre">{{ rutina.nombre }}</ion-card-title>
            <ion-card-subtitle class="rutina-dias">Rutina de {{ rutina.dias.length }} días</ion-card-subtitle>
            <div class="iconos-header">
              <ion-icon name="pencil-outline" (click)="editarRutina(rutina, $event)"
                class="icono-cambiar-nombre"></ion-icon><ion-modal></ion-modal>
              <ion-icon name="close-outline" (click)="eliminarRutina(rutina, $event)"
                class="icono-eliminar-rutina"></ion-icon><ion-modal></ion-modal>
            </div>
          </div>
          <div class="descripcion-rutina">
            <ion-card-subtitle>{{ rutina.descripcion || 'Sin descripción' }}</ion-card-subtitle>
            <ion-icon [name]="rutinaExpandida === rutina._id ? 'chevron-up-outline' : 'chevron-down-outline'"
              class="icono-expandir"></ion-icon>
          </div>
        </div>

        <!-- Contenedor de días en la rutina solo visible si está expandida -->
        <ion-card-content *ngIf="rutinaExpandida === rutina._id">
          <div class="dias-container">
            <ng-container *ngFor="let dia of rutina.dias">
              <!-- Contenedor de cada día -->
              <div class="dia-container">
                <div class="dia-header" (click)="toggleExpandirDia(dia)">
                  <h3 class="dia-nombre">{{ dia.diaNombre }}</h3>
                  <span class="dia-descripcion">{{ dia.descripcion }}</span>
                  <ion-icon [name]="diaExpandido === dia._id ? 'chevron-up-outline' : 'chevron-down-outline'"
                    class="icono-expandir-dia"></ion-icon>
                </div>

                <!-- Lista de ejercicios visible solo si el día está expandido -->
                <div *ngIf="diaExpandido === dia._id">
                  <ul>
                    <li *ngFor="let ejercicioPlan of dia.ejercicios">
                      {{ ejercicioPlan.nombreEjercicio }} - {{ ejercicioPlan.series }}x{{ ejercicioPlan.repeticiones }}
                    </li>
                  </ul>

                  <!-- Botones de acción: EDITAR y BORRAR -->
                  <div class="dia-acciones">
                    <ion-button fill="clear" color="primary" (click)="editarDiaRutina(rutina, dia)">EDITAR</ion-button>
                    <ion-modal></ion-modal>
                    <ion-button fill="clear" color="danger" (click)="eliminarDia(dia)">BORRAR</ion-button>
                    <ion-modal></ion-modal>
                  </div>
                </div>
              </div>
            </ng-container>

            <!-- Botón para añadir día en estilo similar a los días -->
            <div class="anadir-dia-container">
              <ion-button expand="block" fill="outline" color="success" (click)="abrirFormularioDia(rutina)">
                <ion-icon name="add-circle-outline"></ion-icon> AÑADIR DÍA
              </ion-button>
              <ion-modal></ion-modal>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ng-container>
  </ion-list>

  <!-- Botón para añadir una nueva rutina en estilo similar al de la rutina -->
  <ion-card class="boton-crear-nueva-card">
    <ion-button expand="block" size="large" class="boton-crear-nueva" (click)="crearNuevaRutina()">
      <ion-icon name="add-circle-outline"></ion-icon> AÑADIR NUEVA RUTINA
    </ion-button>
    <ion-modal></ion-modal>
  </ion-card>
</ion-content>