/* toolbar-logged.component.scss */

app-toolbar-logged {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3e8e41;
  color: #ffffff;
  padding: 10px;
  font-size: 1.4em;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

app-toolbar-logged h2 {
  margin: 0;
  color: #ffffff;
}