<ion-header>
  <ion-toolbar>
    <ion-title>Editar {{ diaRutina.diaNombre }}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="confirmarCancelarEdicion()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Descripción del Día y botón para editarla -->
  <div class="descripcion-container">
    <p class="descripcion-texto">
      <strong>Descripción del Día:</strong> {{ diaRutina.descripcion || 'Sin descripción' }}
    </p>
    <ion-button fill="clear" (click)="editarDescripcion()">
      <ion-icon name="create-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="ejercicios-contenedor">
    <p class="ejercicios-header">Ejercicios actuales: {{ diaRutina.ejercicios.length }}</p>

    <ion-list *ngIf="diaRutina.ejercicios && diaRutina.ejercicios.length > 0">
      <ion-card *ngFor="let ejercicio of diaRutina.ejercicios; let i = index">
        <ion-card-header (click)="toggleExpandirEjercicio(ejercicio._id)" class="card-header-compact">
          <div class="ejercicio-titulo">
            <strong>{{ i + 1 }}. {{ ejercicio.nombreEjercicio }} ({{ ejercicio.series }} x {{ ejercicio.repeticiones }})</strong>
          </div>
          <ion-icon
            [name]="estadoExpandido[ejercicio._id] ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
        </ion-card-header>
        <ion-card-content *ngIf="estadoExpandido[ejercicio._id]">
          <p><strong>Series y Repeticiones:</strong> {{ ejercicio.series }} x {{ ejercicio.repeticiones }}</p>
          <p><strong>Tipo de Peso:</strong> {{ ejercicio.tipoPeso || 'No especificado' }}</p>
          <p><strong>Notas:</strong> {{ ejercicio.notas || 'Sin notas' }}</p>
          <div class="botones-accion">
            <ion-button fill="clear" color="medium"
              (click)="iniciarEdicionEjercicio(ejercicio); $event.stopPropagation()">
              <ion-icon name="create"></ion-icon> Editar
            </ion-button>
            <ion-button fill="clear" color="danger" (click)="eliminarEjercicio(ejercicio); $event.stopPropagation()">
              <ion-icon name="trash"></ion-icon> Eliminar
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-list>
    <div class="anadir-ejercicio-container">
      <ion-button expand="block" fill="outline" (click)="agregarEjercicioSuelto()">
        <ion-icon name="add-circle-outline"></ion-icon> Agregar Nuevo Ejercicio
      </ion-button>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" color="success" (click)="confirmarGuardarCambios()" [disabled]="!cambiosRealizados">
      Guardar Cambios
    </ion-button>
  </ion-toolbar>
</ion-footer>
