.anterior-serie {
    color: #9e9e9e; /* Color gris para diferenciar la serie anterior */
    font-size: 0.9em;
  }
  
  .serie-notas {
    font-style: italic;
    color: #ff5722; /* Color para destacar las notas de las series */
  }
  
  .ejercicio-notas, .dia-notas {
    font-style: italic;
    color: #3f51b5; /* Color para destacar las notas de los ejercicios y días */
  }