<app-toolbar-modales-cancelar [titulo]="modo === 'crear' ? 'Crear Día' : 'Editar Día'"></app-toolbar-modales-cancelar>

<ion-item>
  <ion-label position="stacked">Nombre del Día</ion-label>
  <ion-text>{{ nombreDia }}</ion-text>
</ion-item>

<ion-item>
  <ion-label position="stacked">Descripción breve</ion-label>
  <ion-input [(ngModel)]="descripcionDia" name="descripcion"></ion-input>
</ion-item>

<!-- Barra de búsqueda -->
<ion-item>
  <ion-searchbar (ionInput)="buscarEjercicios($event)" placeholder="Buscar ejercicios..."></ion-searchbar>
</ion-item>

<ion-content>
  <!-- Lista de ejercicios añadidos con detalles -->
  <ion-card *ngIf="ejerciciosEnRutina.length > 0">
    <ion-card-header>
      <ion-card-title>Ejercicios seleccionados: {{ ejerciciosEnRutina.length }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let ejercicio of ejerciciosEnRutina; let i = index">
          <ion-label>
            <h3>{{ i + 1 }}. {{ ejercicio.nombreEjercicio }}</h3>
            <p>Series {{ ejercicio.series.length }} x {{ ejercicio.series[0]?.repeticiones }} repeticiones</p>
            <p *ngIf="ejercicio.notas">Notas: {{ ejercicio.notas }}</p>
          </ion-label>
          <ion-button fill="clear" color="medium" (click)="editarEjercicio(i)">
            <ion-icon name="create"></ion-icon>
          </ion-button>
          <ion-button fill="clear" color="danger" (click)="eliminarEjercicio(i)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Lista de ejercicios filtrados -->
  <ion-grid>
    <ion-row class="ion-align-items-stretch">
      <ion-col size="6" size-md="4" *ngFor="let ejercicio of ejerciciosFiltrados">
        <ion-card class="ejercicio-card" (click)="seleccionarEjercicio(ejercicio)">
          <ion-card-header>
            <ion-card-title>{{ ejercicio.nombre }}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <!-- Imagen del ejercicio -->
            <img [src]="ejercicio.imagen ? ejercicio.imagen : 'assets/imagenes/ejercicios/ejercicio-default.png'"
              alt="Imagen del ejercicio" class="imagen-ejercicio" />
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- Botón de cancelar y guardar -->
<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" color="danger" (click)="cancelarOperacion()">Cancelar</ion-button>
    <ion-button expand="full" color="success" (click)="guardar()">Guardar</ion-button>
  </ion-toolbar>
</ion-footer>
