<!-- form-dia.component.html -->

<app-toolbar-modales-cancelar [titulo]="modo === 'crear' ? 'Crear Día' : 'Editar Día'"></app-toolbar-modales-cancelar>


<ion-item>
  <ion-label position="stacked">Nombre del Día</ion-label>
  <ion-text>{{ sesionNombre }}</ion-text>
</ion-item>

<ion-item>
  <ion-label position="stacked">Descripción breve</ion-label>
  <ion-input [(ngModel)]="descripcionSesion" name="descripcion"></ion-input>
</ion-item>

<!-- <ion-item>
  <ion-label>Ejercicios seleccionados: {{ ejerciciosEnRutina.length }}</ion-label>
  <ion-button (click)="guardar()" color="success" slot="end">Guardar Día</ion-button>
</ion-item> -->
<!-- Barra de búsqueda -->
<ion-item>
  <ion-searchbar (ionInput)="buscarEjercicios($event)" placeholder="Buscar ejercicios..."></ion-searchbar>
</ion-item>

<ion-content>
  <!-- Lista de ejercicios filtrados -->
  <ion-grid>
    <ion-row class="ion-align-items-stretch">
      <ion-col size="6" size-md="4" *ngFor="let ejercicio of ejerciciosFiltrados">
        <ion-card class="ejercicio-card" (click)="seleccionarEjercicio(ejercicio)">
          <ion-card-header>
            <ion-card-title>{{ ejercicio.nombre }}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <!-- Imagen del ejercicio -->
            <img [src]="ejercicio.imagen ? ejercicio.imagen : 'assets/imagenes/ejercicios/ejercicio-default.png'"
              alt="Imagen del ejercicio" class="imagen-ejercicio" />
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- Botón de cancelar -->
<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" color="danger" (click)="cancelarOperacion()">Cancelar</ion-button>
  </ion-toolbar>
</ion-footer>

<ion-footer>
  <ion-toolbar>
    <div class="footer-content">
      <span class="footer-text">Ejercicios seleccionados: {{ ejerciciosEnRutina.length }}</span>
      <ion-button (click)="guardar()" color="success" class="guardar-btn">Guardar</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>