.custom-modal {
    width: 90%;
    max-width: 500px;
    height: auto;
    border-radius: 15px;
    margin: auto; /* Centrar el modal en la pantalla */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añadir una sombra sutil */
  }
  

  .custom-modal-sheet {
    border-top-left-radius: 15px; /* Añade bordes redondeados en la parte superior */
    border-top-right-radius: 15px;
    height: auto; /* Asegúrate de que la altura sea automática */
  }

/* app.component.scss */
.modal-ejercicio-compacto .modal-wrapper {
  max-width: 400px !important;
  max-height: 500px !important;
  margin: auto;
  border-radius: 12px;
  overflow: hidden;
}