<ion-header>
  <!-- Toolbar principal con título y botón de cancelar -->
  <ion-toolbar >
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="cerrarModal()">Cancelar</ion-button>
    </ion-buttons>
    <ion-title>
      Añadir Ejercicio Extra
    </ion-title>
  </ion-toolbar>

  <!-- Toolbar secundario con buscador -->
  <ion-toolbar >
    <ion-item>
      <ion-searchbar (ionInput)="buscarEjercicios($event)" placeholder="Buscar ejercicios..." shape="round" >
      </ion-searchbar>
      <ion-button id="filtroPopoverTrigger" fill="clear" slot="end">
        <ion-icon name="filter-outline"></ion-icon>
      </ion-button>
      <ion-popover trigger="filtroPopoverTrigger" alignment="end">
        <ng-template>
          <app-filtro-ejercicio [filtroTipoPeso]="filtroTipoPeso" [filtroMusculoPrincipal]="filtroMusculoPrincipal"
            (aplicarFiltros)="aplicarFiltrosDesdeFiltro($event)">
          </app-filtro-ejercicio>
          <ion-popover></ion-popover>
        </ng-template>
      </ion-popover>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contenido-con-margen">
    <ion-grid>
      <ion-row class="ion-align-items-stretch">

        <!-- Tarjetas de ejercicios existentes -->
        <ion-col size="6" size-md="4" *ngFor="let ejercicio of ejerciciosFiltrados">
          <ion-card class="ejercicio-card" (click)="seleccionarEjercicio(ejercicio)">
            <ion-icon *ngIf="ejercicio.ejercicioPersonalizado" name="person-circle-outline"
              class="personalizado-icon"></ion-icon>
            <ion-card-header>
              <ion-card-title class="titulo-ejercicio">{{ ejercicio.nombre }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <img [src]="ejercicio.imagen || 'assets/imagenes/ejercicios/ejercicio-default.png'"
                class="imagen-ejercicio" />
              <div class="ejercicio-info">
                <p><ion-icon name="barbell-outline"></ion-icon> {{ ejercicio.tipoPeso }}</p>
                <p><ion-icon name="body-outline"></ion-icon> {{ ejercicio.musculoPrincipal }}</p>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <!-- Tarjeta de "Crear Nuevo Ejercicio" -->
        <ion-col size="6" size-md="4">
          <ion-card class="ejercicio-card crear-ejercicio-card" (click)="crearNuevoEjercicio()">
            <ion-card-header>
              <ion-card-title class="titulo-ejercicio">¿No encuentras un ejercicio?</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <div class="icono-crear-ejercicio">
                <ion-icon name="add-circle-outline"></ion-icon>
              </div>
              <div class="ejercicio-info">
                <p>¡Créalo!</p>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer>
  <!-- Footer opcional: puedes eliminarlo si no necesitas botones adicionales -->
</ion-footer>
