<!-- editar-dia-rutina-agregar-ejercicio-suelto.component.html -->
<ion-header>
  <!-- Barra de encabezado de selección de ejercicio -->
  <ion-toolbar color="primary">
    <ion-title class="encabezado-seleccion">Selecciona Ejercicio</ion-title>
  </ion-toolbar>

  <!-- Barra de búsqueda y botón de filtro -->
  <ion-toolbar>
    <ion-item lines="none">
      <ion-searchbar (ionInput)="buscarEjercicios($event)" placeholder="Buscar ejercicios..."></ion-searchbar>
      <ion-button id="filtroPopoverTrigger" fill="clear" slot="end">
        <ion-icon name="filter-outline"></ion-icon>
      </ion-button>
      <ion-popover></ion-popover>
      <ion-popover trigger="filtroPopoverTrigger" alignment="end">
        <ng-template>
          <app-filtro-ejercicio [filtroTipoPeso]="filtroTipoPeso" [filtroMusculoPrincipal]="filtroMusculoPrincipal"
            (aplicarFiltros)="aplicarFiltrosDesdeFiltro($event)">
          </app-filtro-ejercicio>
        </ng-template>
      </ion-popover>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height: 100%; overflow-y: auto;">
    <ion-grid>
      <ion-row class="ion-align-items-stretch">
        <ion-col size="6" size-md="4" *ngFor="let ejercicio of ejerciciosFiltrados">
          <ion-card class="ejercicio-card" (click)="seleccionarEjercicio(ejercicio)">
            <ion-card-header>
              <ion-card-title class="titulo-ejercicio">{{ ejercicio.nombre }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <img [src]="ejercicio.imagen ? ejercicio.imagen : 'assets/imagenes/ejercicios/ejercicio-default.png'"
                alt="Imagen del ejercicio" class="imagen-ejercicio" />
              <div class="ejercicio-info">
                <p>{{ ejercicio.tipoPeso }}</p>
                <p>{{ ejercicio.musculoPrincipal }}</p>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" color="danger" (click)="cerrarModal()">Cancelar</ion-button>
  </ion-toolbar>
</ion-footer>