<ion-header>
  <!-- Barra de búsqueda y botón de filtro, fijo en la parte superior -->
  <ion-toolbar color="light" class="fixed-toolbar">
    <ion-item lines="none">
      <ion-searchbar (ionInput)="buscarEjercicios($event)" placeholder="Buscar ejercicios..."></ion-searchbar>
      <ion-button id="filtroPopoverTrigger" fill="clear" slot="end">
        <ion-icon name="filter-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">
  <div class="contenido-con-margen">
    <ion-grid>
      <ion-row class="ion-align-items-stretch">
        <ion-col size="6" size-md="4" *ngFor="let ejercicio of ejerciciosFiltrados">
          <ion-card class="ejercicio-card">
            <ion-icon *ngIf="ejercicio.ejercicioPersonalizado" name="person-circle-outline"
              class="personalizado-icon"></ion-icon>
            <ion-card-header>
              <ion-card-title class="titulo-ejercicio">{{ ejercicio.nombre }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <img [src]="ejercicio.imagen ? ejercicio.imagen : 'assets/imagenes/ejercicios/ejercicio-default.png'"
                alt="Imagen del ejercicio" class="imagen-ejercicio" />
              <div class="ejercicio-info">
                <p><ion-icon name="barbell-outline"></ion-icon> {{ ejercicio.tipoPeso }}</p>
                <p><ion-icon name="body-outline"></ion-icon> {{ ejercicio.musculoPrincipal }}</p>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Botón flotante para agregar nuevo ejercicio -->
  <!--  <ion-fab class="boton-flotante" slot="fixed">
    <ion-fab-button color="primary" (click)="abrirModalNuevoEjercicio()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

  <ion-fab class="boton-flotante" slot="fixed">
    <ion-fab-button color="primary" (click)="abrirFormularioEjercicio()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-popover trigger="filtroPopoverTrigger" alignment="end">
  <ng-template>
    <app-filtro-ejercicio [filtroTipoPeso]="filtroTipoPeso" [filtroMusculoPrincipal]="filtroMusculoPrincipal"
      (aplicarFiltros)="aplicarFiltrosDesdeFiltro($event)">
    </app-filtro-ejercicio>
  </ng-template>
</ion-popover>