ion-content {
  padding-bottom: 80px;
}

.contenido-con-margen {
  margin-bottom: 100px;
}

.fixed-toolbar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.ejercicio-card {
  width: 100%;
  height: 250px;
  /* Altura fija para uniformidad */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
}

.titulo-ejercicio {
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  min-height: 40px;
  /* Ajuste de altura mínima para títulos */
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagen-ejercicio {
  width: 60px;
  height: 60px;
  object-fit: contain;
  border-radius: 8px;
  margin: 8px 0;
}

.ejercicio-info {
  font-size: 13px;
  color: #444;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex-grow: 1;
  /* Ocupar espacio extra para mantener uniformidad */
  justify-content: center;
}

.ejercicio-info ion-icon {
  font-size: 14px;
  color: #666;
  margin-right: 4px;
}

.personalizado-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 1.3rem;
  color: var(--ion-color-primary);
}

.boton-flotante {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.descripcion-ejercicio {
  font-size: 0.85rem;
  color: var(--ion-color-dark);
  margin: 8px 0;
  /* Mayor margen superior para mejor distribución */
  text-align: center;
  max-height: 80px;
  overflow: auto;
}

.botones-acciones ion-button {
  font-size: 1rem;
  height: 28px;
  width: 28px;
  --border-radius: 50%;
  margin: 0 4px;
}

.detalle-card-content {
  padding: 8px 10px;
}

.detalle-contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Centramos el contenido verticalmente cuando no hay botones */
  height: 100%;
}


.detalle-contenido {
  &.personalizado {
    justify-content: space-between;
  }
}


.tarjeta-seleccionada {
  border: 2px solid var(--ion-color-primary);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}