<ion-header *ngIf="ejercicios.length > 0">
  <ion-toolbar color="light" class="fixed-toolbar">
    <ion-item lines="none">
      <ion-searchbar (ionInput)="buscarEjercicios($event)" placeholder="Buscar ejercicios..."></ion-searchbar>
      <ion-button id="filtroPopoverTrigger" fill="clear" slot="end">
        <ion-icon name="filter-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="contenido-con-margen">
    <!-- Mostrar mensaje si no hay ejercicios disponibles -->
    <ion-card *ngIf="ejercicios.length === 0">
      <ion-card-header>
        <ion-card-title>No hay ejercicios disponibles</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Agrega ejercicios para que aparezcan en esta lista.
      </ion-card-content>
    </ion-card>

    <!-- Mostrar mensaje si no hay ejercicios filtrados -->
    <ion-card *ngIf="ejercicios.length > 0 && ejerciciosFiltrados.length === 0">
      <ion-card-header>
        <ion-card-title>No se encontraron resultados</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Prueba ajustando los filtros o realiza una nueva búsqueda.
      </ion-card-content>
    </ion-card>

    <!-- Mostrar lista de ejercicios agrupados -->
    <ion-grid *ngIf="ejerciciosFiltrados.length > 0">
      <div *ngFor="let grupo of ejerciciosAgrupados | keyvalue">
        <ion-row>
          <ion-col>
            <h3 class="titulo-categoria">{{ grupo.key }}</h3>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-stretch">
          <ion-col size="6" size-md="4" *ngFor="let ejercicio of grupo.value">
            <ion-card class="ejercicio-card"
                      [ngClass]="{'compact-view': isSmallScreen, 'expanded-view': !isSmallScreen}"
                      (click)="toggleDetalle(ejercicio._id)">
              <ng-container *ngIf="ejercicioSeleccionadoId !== ejercicio._id; else detalleTemplate">
                <ion-icon *ngIf="ejercicio.ejercicioPersonalizado" name="person-circle-outline"
                          class="personalizado-icon"></ion-icon>
                <ion-card-header>
                  <ion-card-title class="titulo-ejercicio">{{ ejercicio.nombre }}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <img [src]="ejercicio.imagen ? ejercicio.imagen : 'assets/imagenes/ejercicios/ejercicio-default.png'"
                       class="imagen-ejercicio" />
                  <div class="ejercicio-info">
                    <p><ion-icon name="barbell-outline"></ion-icon> {{ ejercicio.tipoPeso }}</p>
                    <p><ion-icon name="body-outline"></ion-icon> {{ ejercicio.musculoPrincipal }}</p>
                  </div>
                </ion-card-content>
              </ng-container>

              <!-- Vista detallada -->
              <ng-template #detalleTemplate>
                <ion-card-header>
                  <ion-card-title class="titulo-ejercicio">{{ ejercicio.nombre }}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <p class="descripcion-ejercicio">{{ ejercicio.descripcion || 'Sin descripción' }}</p>
                </ion-card-content>
              </ng-template>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </div>

  <ion-fab class="boton-flotante" slot="fixed">
    <ion-fab-button color="primary" (click)="abrirFormularioEjercicio()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-popover trigger="filtroPopoverTrigger" alignment="end">
  <ng-template>
    <app-filtro-ejercicio [filtroTipoPeso]="filtroTipoPeso" [filtroMusculoPrincipal]="filtroMusculoPrincipal"
                          (aplicarFiltros)="aplicarFiltrosDesdeFiltro($event)">
    </app-filtro-ejercicio>
  </ng-template>
</ion-popover>
