ion-content {
  padding-bottom: 80px; /* Ajusta este valor si necesitas más o menos espacio */
}

.contenido-con-margen {
  margin-bottom: 100px;
}

.fixed-toolbar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.ejercicio-card {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  text-align: center;
}

.titulo-ejercicio {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.imagen-ejercicio {
  width: 80px;
  height: 80px;
  object-fit: contain;
  border-radius: 8px;
  margin: 8px 0;
}

.ejercicio-info {
  font-size: 13px;
  color: #444;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.ejercicio-info ion-icon {
  font-size: 16px;
  color: #666;
  margin-right: 4px;
}

.personalizado-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 1.5rem;
  color: var(--ion-color-primary);
}

.boton-flotante {
  position: fixed;
  bottom: 20px; /* Aumentamos la distancia desde el fondo */
  right: 20px;
}

.descripcion-ejercicio {
  font-size: 0.9rem; /* Reduce el tamaño de la fuente para evitar desplazamientos */
  color: var(--ion-color-dark);
  margin: 4px 0;
  text-align: center;
  max-height: 80px; /* Limita la altura máxima */
  overflow: auto; /* Añade desplazamiento si es necesario */
}

.botones-acciones ion-button {
  font-size: 1.2rem;
  height: 30px;
  width: 30px;
  --border-radius: 50%;
  margin: 0 4px;
}

.detalle-card-content {
  padding: 8px 10px;
}

.detalle-contenido {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.tarjeta-seleccionada {
  border: 2px solid var(--ion-color-primary);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
