<ion-header>
  <ion-toolbar>
    <ion-title>Editar Día de Entrenamiento</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content-adjusted">
  <ng-container *ngFor="let ejercicio of diaEntrenamiento.ejerciciosRealizados; let i = index">
    <ion-card>
      <ion-card-header (click)="toggleEjercicio(i)">
        <ion-card-title>{{ ejercicio.nombreEjercicioRealizado }}</ion-card-title>
      </ion-card-header>

      <!-- Mostrar el contenido solo si el índice coincide con el ejercicio abierto -->
      <ion-card-content *ngIf="ejercicioAbiertoIndex === i">
        <div class="exercise-container">
          <p *ngIf="ejercicio.anteriorVezEjercicioID">ID del ejercicio anterior: {{ ejercicio.anteriorVezEjercicioID }}
          </p>

          <ng-container *ngFor="let serie of ejercicio.series; let j = index">
            <div class="exercise-row">
              <span class="series-number">S{{ j + 1 }}.</span>

              <!-- Control de repeticiones -->
              <ion-input type="number" [(ngModel)]="serie.repeticiones" class="reps-input" placeholder="Reps"
                [disabled]="!serie.enEdicion"></ion-input>

              <!-- Control de peso con botones para incrementar/decrementar -->
              <div class="weight-control">
                <button class="control-button minus" (click)="decrementarPeso(serie)"
                  [disabled]="!serie.enEdicion">-</button>
                <ion-input type="number" [(ngModel)]="serie.peso" class="weight-input"
                  [placeholder]="serie.pesoAnterior?.toString() || '0'" [disabled]="!serie.enEdicion"></ion-input>
                <button class="control-button plus" (click)="incrementarPeso(serie)"
                  [disabled]="!serie.enEdicion">+</button>

                <!-- Mostrar peso anterior solo si existe -->
                <span *ngIf="serie.pesoAnterior" class="weight-label">({{ serie.pesoAnterior }} kg)</span>

                <ion-icon name="create-outline" class="note-icon" (click)="abrirNotasSerie(i, j)"></ion-icon>
              </div>

              <!-- Botón de edición OK/EDIT -->
              <div class="action-buttons">
                <ion-button fill="clear" size="small" (click)="toggleEditarSerie(i, j)" class="ok-button"
                  [disabled]="serie.enEdicion && serie.peso === 0">
                  {{ serie.enEdicion ? 'OK' : 'EDIT' }}
                </ion-button>
              </div>
            </div>

            <!-- Checkbox para opciones adicionales (al fallo, dolor, con ayuda) -->
            <div class="checkbox-row centered-checkboxes">
              <label class="checkbox-label">
                <ion-checkbox mode="ios" [(ngModel)]="serie.alFallo" [disabled]="!serie.enEdicion"
                  class="checkbox-plain"></ion-checkbox>
                <span>Fallo</span>
              </label>
              <label class="checkbox-label">
                <ion-checkbox mode="ios" [(ngModel)]="serie.dolor" [disabled]="!serie.enEdicion"
                  class="checkbox-plain"></ion-checkbox>
                <span>Dolor</span>
              </label>
              <label class="checkbox-label">
                <ion-checkbox mode="ios" [(ngModel)]="serie.conAyuda" [disabled]="!serie.enEdicion"
                  class="checkbox-plain"></ion-checkbox>
                <span>Ayuda</span>
              </label>
            </div>

            <!-- Nota para cada serie -->
            <div *ngIf="serie.notas" class="note-display">
              <span>Nota: {{ serie.notas }}</span>
            </div>
          </ng-container>
        </div>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <!-- Botón para guardar cambios de todo el día de entrenamiento -->
  <ion-button expand="full" (click)="guardarCambios()">Guardar Cambios</ion-button>
</ion-content>