<ion-header>
  <ion-toolbar>
    <!-- Mostrar "Editando" y el día del entrenamiento + la fecha -->
    <ion-title>
      Editando - {{ diaEntrenamientoBackup.descripcion }} ({{ diaEntrenamientoBackup.fechaEntrenamiento |
      date: 'dd/MM/yyyy' }})
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-adjusted">
  <ng-container *ngFor="let ejercicio of diaEntrenamientoBackup.ejerciciosRealizados; let i = index">
    <ion-card>
      <ion-card-header (click)="toggleEjercicio(i)">
        <ion-card-title class="exercise-header">
          {{ ejercicio.nombreEjercicioRealizado }}
          <!-- Indicador de progreso de series completadas sobre series totales -->
          <span class="progress-indicator">{{ ejercicio.seriesCompletadas || 0 }} / {{ ejercicio.seriesTotal }}</span>
          <ion-icon name="create-outline" (click)="abrirNotasEjercicio(i); $event.stopPropagation()"
            class="edit-icon"></ion-icon>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content *ngIf="ejercicioAbiertoIndex === i">
        <p *ngIf="ejercicio.notas" class="exercise-note">
          Nota del ejercicio: {{ ejercicio.notas }}
        </p>

        <!-- Series del Ejercicio -->
        <ng-container *ngFor="let serie of ejercicio.series; let j = index">
          <div class="exercise-row">
            <span class="series-number">S{{ j + 1 }}.</span>
            <ion-input type="number" [(ngModel)]="serie.repeticiones" class="reps-input" placeholder="Reps"
              [disabled]="!serie.enEdicion">
            </ion-input>

            <!-- Control de peso con botones para incrementar/decrementar -->
            <div class="weight-control">
              <button class="control-button minus" (click)="decrementarPeso(serie)"
                [disabled]="!serie.enEdicion">-</button>
              <ion-input type="number" [(ngModel)]="serie.peso" class="weight-input"
                [placeholder]="serie.pesoAnterior?.toString() || '0'" [disabled]="!serie.enEdicion">
              </ion-input>
              <button class="control-button plus" (click)="incrementarPeso(serie)"
                [disabled]="!serie.enEdicion">+</button>
              <span *ngIf="serie.pesoAnterior" class="weight-label">({{ serie.pesoAnterior }} kg)</span>

              <ion-icon *ngIf="serie.enEdicion" name="create-outline" class="note-icon" (click)="abrirNotasSerie(i, j)">
              </ion-icon>
              <ion-alert></ion-alert>
            </div>

            <div class="action-buttons">
              <ion-button fill="clear" size="small" (click)="toggleEditarSerie(i, j)" class="ok-button"
              [disabled]="serie.peso === 0 || serie.repeticiones === 0">
                {{ serie.enEdicion ? 'OK' : 'EDIT' }}
              </ion-button>
            </div>

            <ion-icon *ngIf="j === ejercicio.series.length - 1" name="trash-outline" class="delete-icon delete-right"
              (click)="confirmarEliminarSerie(i, j)">
            </ion-icon>
            <ion-alert></ion-alert>
          </div>

          <!-- Checkbox para opciones adicionales (al fallo, dolor, con ayuda) -->
          <div class="checkbox-row centered-checkboxes">
            <label class="checkbox-label">
              <ion-checkbox mode="ios" [(ngModel)]="serie.alFallo" [disabled]="!serie.enEdicion"
                class="checkbox-plain"></ion-checkbox>
              <span>Fallo</span>
            </label>
            <label class="checkbox-label">
              <ion-checkbox mode="ios" [(ngModel)]="serie.dolor" [disabled]="!serie.enEdicion"
                class="checkbox-plain"></ion-checkbox>
              <span>Dolor</span>
            </label>
            <label class="checkbox-label">
              <ion-checkbox mode="ios" [(ngModel)]="serie.conAyuda" [disabled]="!serie.enEdicion"
                class="checkbox-plain"></ion-checkbox>
              <span>Ayuda</span>
            </label>
          </div>

          <div *ngIf="serie.notas" class="note-display">
            <span>Nota de la serie: {{ serie.notas }}</span>
          </div>
        </ng-container>

        <ion-button *ngIf="mostrarBotonAnadirSerie(ejercicio)" expand="block" fill="outline"
          (click)="confirmarAnadirSerie(i)">
          Añadir Serie Extra
        </ion-button>
        <ion-alert></ion-alert>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <!-- Barra de búsqueda para añadir un nuevo ejercicio realizado basado en un ejercicio existente -->
  <ion-item>
    <ion-searchbar (ionInput)="buscarEjercicios($event)" placeholder="Buscar ejercicios..."></ion-searchbar>
  </ion-item>

  <!-- Lista de ejercicios disponibles para añadir -->
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let ejercicio of ejerciciosFiltrados">
        <ion-card (click)="agregarEjercicioRealizado(ejercicio)">
          <ion-card-header>
            <ion-card-title>{{ ejercicio.nombre }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <img [src]="ejercicio.imagen || 'assets/imagenes/ejercicios/ejercicio-default.png'"
              alt="Imagen del ejercicio" class="imagen-ejercicio" />
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>




<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" (click)="guardarCambios()">Guardar Cambios</ion-button>
    <ion-button expand="full" color="danger" (click)="confirmarCancelarEdicion()">Cancelar</ion-button>

  </ion-toolbar>
</ion-footer>