<ion-item>
  <ion-label position="floating">Nombre</ion-label>
  <ion-input [(ngModel)]="nuevoEjercicio.nombre"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Tipo</ion-label>
  <ion-select [(ngModel)]="nuevoEjercicio.equipamiento">
    <ion-select-option value="barra">Barra</ion-select-option>
    <ion-select-option value="mancuerna">Mancuerna</ion-select-option>
    <ion-select-option value="máquina">Máquina</ion-select-option>
    <ion-select-option value="peso corporal">Peso Corporal</ion-select-option>
  </ion-select>
</ion-item>

<ion-item>
  <ion-label position="floating">Cantidad de Series</ion-label>
  <ion-input type="number" [(ngModel)]="nuevoEjercicio.cantidadSeries"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Repeticiones</ion-label>
  <ion-input type="number" [(ngModel)]="nuevoEjercicio.repeticiones"></ion-input>
</ion-item>

<ion-button expand="full" (click)="agregarEjercicio()">Agregar Ejercicio</ion-button>