<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Seleccionar Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-centered">
  <!-- Logo de la aplicación -->
  <div class="logo-container">
    <img src="assets/imagenes/menus/principal/logo-inicio.png" alt="Mi Rutina Logo" class="logo-image" />
  </div>

  <!-- Mostrar el spinner mientras los usuarios están cargando -->
  <ion-spinner *ngIf="isLoading"></ion-spinner>

  <!-- Mostrar mensaje si no hay usuarios cuando la carga ha terminado -->
  <div *ngIf="!isLoading && usuarios.length === 0" class="no-usuarios-message">
    <p>No se encontraron usuarios. Por favor, cree uno nuevo.</p>
  </div>

  <!-- Mostrar la lista de usuarios cuando la carga ha terminado y existen usuarios -->
  <app-user-list [usuarios]="usuarios"></app-user-list>
</ion-content>

<!-- Botón adicional para reiniciar la base de datos -->
<ion-footer *ngIf="!isLoading">
  <ion-button expand="full" (click)="irAdministrarUsuarios()">Administrar usuarios</ion-button>
  <ion-button expand="full" color="danger" (click)="reiniciarBaseDatos()">Reiniciar Base de Datos</ion-button>
  <ion-alert></ion-alert>
</ion-footer>