<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Título de la pantalla -->
    <ion-title color="primary" slot="start">
      {{ titulo }}
    </ion-title>

    <!-- Información del usuario y el botón de desloguear -->
    <ion-buttons slot="end">
      <ion-title slot="start" color="primary">
        {{ mostrarUsuarioLogeado() }}
      </ion-title>
      <ion-button slot="end" (click)="logout()">
        <ion-icon color="primary" name="log-out-outline"></ion-icon> <!-- Icono para el logout -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>